.root-pane {
    -fx-background-color: none;
}
.rx-carousel {
    -fx-background-color: none;
    -fx-border-width: 0px;

}

.title {
    -fx-background-color: none;
    -fx-text-fill: #F49900;
}

.top-pane {
    -fx-background-color: #2A2F4F;
}
.top-pane .button {
    -fx-background-color: #1B2040;
}
.top-pane .button:hover{
    -fx-background-color: red;
}


.nav-btn-box {
    -fx-background-color: none;
}
.nav-btn-box .rx-toggle-button{
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}
.nav-btn-box .rx-toggle-button:hover{
    -fx-background-color: #9DB2BF;
    -fx-border-color:  #9DB2BF;

}
.nav-btn-box .rx-toggle-button:selected{
    -fx-background-color: #526D82;
}

.home-pane .waring-box .text-area .scroll-pane .content{
    -fx-background-color: #E4DCCF;
    -fx-text-fill: red;
}
.home-pane .waring-box .text-area .scroll-pane {
    -fx-background-color: none;
}

.home-pane .waring-box .text-area {
    -fx-background-color: none;
    -fx-background-radius: 20px;
}
.home-pane .waring-box .label {
    -fx-background-color:  #EA5455;
    -fx-background-radius:  20px;
    -fx-font-size: 16;
}
.home-pane .waring-box {
    -fx-background-color: #E4DCCF;
    -fx-background-radius: 20px;
    -fx-border-color: #E2777A;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;

}

.home-pane .account-box,.info-box {
    -fx-background-color: #F9F5EBD0;
    -fx-padding: 20px;
    -fx-background-radius: 10px;
}

.home-pane .account-box .label{
    -fx-text-fill: #002B5B;
    -fx-font-size: 13px;
    -fx-padding: 5px;
}
.home-pane :hover{
    -fx-background-color: #E4DCCFD0;
    -fx-background-radius: 10px;
}


.home-pane .launch-btn {
    -fx-background-color: #F9D949D0;
    -fx-font-size: 22px;
    -fx-text-fill: white;
}
.hone-pane .list-btn * {
    -fx-background-color: none;
}

.hone-pane .list-btn {
    -fx-background-color: #F9D949D0;
    -fx-font-size: 22px;
    -fx-text-fill: white;
}

.home-pane .launch-btn:hover,.list-btn :hover {
    -fx-background-color: #F97B22D0;
    -fx-background-radius: 0px;
}

.button {
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 0px;
}
.button:hover {
    -fx-background-color: gray;
}

.work-dir-text-field .tf-button-shape{
    -fx-shape: 'M855.04 385.024q19.456 2.048 38.912 10.24t33.792 23.04 21.504 37.376 2.048 54.272q-2.048 8.192-8.192 40.448t-14.336 74.24-18.432 86.528-19.456 76.288q-5.12 18.432-14.848 37.888t-25.088 35.328-36.864 26.112-51.2 10.24l-567.296 0q-21.504 0-44.544-9.216t-42.496-26.112-31.744-40.96-12.288-53.76l0-439.296q0-62.464 33.792-97.792t95.232-35.328l503.808 0q22.528 0 46.592 8.704t43.52 24.064 31.744 35.84 12.288 44.032l0 11.264-53.248 0q-40.96 0-95.744-0.512t-116.736-0.512-115.712-0.512-92.672-0.512l-47.104 0q-26.624 0-41.472 16.896t-23.04 44.544q-8.192 29.696-18.432 62.976t-18.432 61.952q-10.24 33.792-20.48 65.536-2.048 8.192-2.048 13.312 0 17.408 11.776 29.184t29.184 11.776q31.744 0 43.008-39.936l54.272-198.656q133.12 1.024 243.712 1.024l286.72 0z';
    -fx-background-color: #3ebaff;
    -fx-pref-width: 18;
    -fx-pref-height: 18;
}

.waring-input {
    -fx-text-fill: red;
}