.root-pane {
    -fx-background-color: none;
}
.rx-carousel {
    -fx-background-color: none;
    -fx-border-width: 0px;
}

.title {
    -fx-background-color: none;
    -fx-text-fill: #F49900;
}

.top-pane {
    -fx-background-color: #2A2F4F;
}
.top-pane .button {
    -fx-background-color: #1B2040;
}
.top-pane .button:hover{
    -fx-background-color: red;
}


.nav-btn-box {
    -fx-background-color: none;
}
.nav-btn-box .rx-toggle-button{
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}
.nav-btn-box .rx-toggle-button:hover{
    -fx-background-color: #9DB2BF;
    -fx-border-color:  #9DB2BF;

}
.nav-btn-box .rx-toggle-button:selected{
    -fx-background-color: #526D82;
}