/* ====================== 全局元素 ======================*/

/* ====================== 菜单 ======================*/
.context-menu {
    -fx-background-color: black;
}
.context-menu .menu-item .label{
    -fx-text-fill: white;
}

/*垂直布局*/
.vbox{
    -fx-alignment: center;
    -fx-spacing: 25;
}

/*按钮*/
.label,
.jfx-button {
    -fx-text-fill: white;
}
.jfx-button:hover {
    -fx-background-color: rgba(30, 30, 30, 0.5);
}


/*滑动区域滑动条*/
.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: black;
}
.scroll-pane .viewport  {
    -fx-background-color: black;
}


.jfx-tab-pane .headers-region .tab-container .tab-label {
    -fx-font-size: 12;
}
.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: white;
}
.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: white;
}

.jfx-text-field {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.jfx-toggle-button {
    -jfx-size: 8;
    -jfx-toggle-color: white;
}

/* ====================== 导航栏 ======================*/
.navigation-bar {
    -fx-alignment: center;
    -fx-background-color: rgba(40, 40, 40, 0.9);
    -fx-min-height: 24;
    -fx-max-height: 24;
}
.navigation-bar>.jfx-button:hover{
    -jfx-button-type: FLAT;
    -fx-pref-width: 18;
    -fx-pref-height: 18;
}
.menu-pane {
    -fx-background-color: rgba(60, 60, 60, 0.9);
    -fx-spacing: 10;
    -fx-pref-width: 70;
}

.main-pane{
    -fx-background-color: rgba(80, 80, 80, 0.3);
}
.launcher-bar{
    -fx-background-color: rgba(50, 50, 50, 0.9);
    -fx-alignment: center;
    -fx-pref-height: 70;
    -fx-padding: 10,10,10,10;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 15;
    /*-fx-background-radius: 15;*/
}
.launcher-bar:hover{

    -fx-border-color: white;
}

/* ====================== launcherBar ======================*/


.zpl-combo-box .list-view .jfx-list-cell {
    -fx-background-color: rgba(0.1, 0.1, 0.1, 0.5);

}

.zpl-combo-box .list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: rgba(0.6, 0.6, 0.6);
}


.zpl-combo-box .list-view {
    -fx-background-color: none;
}

.zpl-combo-box .list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.zpl-combo-box .list-view .jfx-list-cell:selected,
.zpl-combo-box .list-view .jfx-list-cell:filled:hover {
    -fx-background-color: gray;
}

.tab-pane,
.tab-pane .tab-header-background {
    -fx-background-color: none;
}

.tab-pane .tab {
    -fx-background-color: none;
    -fx-border-insets: 1, 1, 1, 1;
    -fx-border-color: none;

}

.tab-pane .tab:armed,
.tab-pane .tab:selected {
    -fx-border-color: white;

}

.tab-pane .tab-label {
    -fx-text-fill: white;
}


/* ====================== 实例视图 ======================*/
.jfx-tree-view {
    -fx-background-color: none;
}

.instance-info-grid .label,
.jfx-tree-view .tree-cell {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.jfx-tree-view .tree-cell {
    -fx-background-color: none;
}

.jfx-tree-view .tree-cell:selected {
    -fx-background-color: rgba(30, 30, 30, 0.5);
}

.instance-info-grid {
    -fx-vgap: 10;
    -fx-alignment: top-center;
}

.control-view {
    -fx-alignment: top-center;
    -fx-spacing: 2;
}

.control-view .jfx-button {
    -fx-pref-width: 120;
}


/* ====================== dialog ======================*/

.dialog-layout {
    -fx-background-color: black;
}

.dialog-title {
    -fx-text-fill: white;
}

.dialog-content .tab-header-background{
    -fx-background-color: none;
}

